<div ng-class="$ctrl.styles.welcome">
  <div class="background">  
    <h1>Secret Santa Matcher</h1>
  </div>
  <div class="banner"><img src="https://static-cdn.jtvnw.net/jtv_user_pictures/santa-profile_image-a6749f260a9c1fa6-300x300.png"></div>
    <nav>
      <button ng-if="!$ctrl.hasToken" ui-sref="profile">Sign In</button>
      <button ng-if="$ctrl.hasToken" ui-sref="profile">Your profile</button>
      <button ng-if="$ctrl.hasToken" ng-click="$ctrl.signout()">Sign Out</button>
      <button ui-sref"about">About</button>
    </nav>
</div>
