:local(.welcome) {
  font-size: 1rem;
  text-align: center;
  margin: 5% auto;
}

.background {
  color: #2b2c2d;
  h1 {
    margin: 5px;

  }
}

.banner {
  width: 100%;
  height: auto;
}


nav {
  padding-top: 5%;
  margin: 0 auto;
}

button {
  padding: 15px;
  border: 5px solid #BF1E2E;
  border-radius: 20px;
  background-color: white;
  color: #2b2c2d
}

// @media only screen and (min-width: )