:local(.profile) {
  font-size: 1rem;
  margin: 5% auto;
  text-align: center;
  color: #2b2c2d;
}

.profile-nav {
  button {
    display: inline;
    font-size: 1rem;
    list-style-type: none;
    text-decoration: none;
  }
  margin-left: 5%;

}